{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title %}
     Recherche d'aire de jeux
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}  
{% block content %}
    <ul class="breadcrumb fil">
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li class="active">Recherche</li> 
    </ul>
    <h3 class="p-bottom">Rechercher une aire de jeux </h3> 
    <div class="row nomargin">
        <form  id="form-playground" class="form-horizontal" action="{{ path('search') }}" method="get">
            <div class="nomargin">
                {{ form_errors(form.departement) }}
                {{ form_label(form.departement) }}
                {{ form_widget(form.departement, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="nomargin">
                {{ form_errors(form.ville) }}
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville, {'attr':{'class':'form-control completion'}}) }}
            </div>
            <div class="nomargin">
                {{ form_errors(form.surface) }}
                {{ form_label(form.surface) }}
                {{ form_widget(form.surface, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_errors(form.ageMin) }}
                    {{ form_label(form.ageMin) }}
                    {{ form_widget(form.ageMin, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-3">
                    {{ form_errors(form.ageMax) }}
                    {{ form_label(form.ageMax) }}
                    {{ form_widget(form.ageMax, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-3">
                    {{ form_errors(form.nbrJeuxMin) }}
                    {{ form_label(form.nbrJeuxMin) }}
                    {{ form_widget(form.nbrJeuxMin, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-3">
                    {{ form_errors(form.noteMin) }}
                    {{ form_label(form.noteMin) }}
                    {{ form_widget(form.noteMin, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_errors(form.is_picnic) }}
                    {{ form_label(form.is_picnic) }}
                    {{ form_widget(form.is_picnic, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.is_sport) }}
                    {{ form_label(form.is_sport) }}
                    {{ form_widget(form.is_sport, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.is_shadow) }}
                    {{ form_label(form.is_shadow) }}
                    {{ form_widget(form.is_shadow, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>    
            {{ form_rest(form) }}
            <input class="btn btn-lg btn-blue center-block" type="submit" value="Rechercher" />
        </form>
    {% endblock %}  
    
 {% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/applisunairejeux/js/autocompletion.js') }}" type="text/javascript"></script>
 {% endblock %} 
