{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <ul class="breadcrumb fil">
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li class="active">Mon compte</li> 
    </ul> 
<div class="fos_user_user_show">
    <h3 class="p-bottom">Informations personnelles</h3>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <a class="btn btn-blue" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
    <a class="btn btn-blue" href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a>
</div>
<div>
    <h3 class="p-bottom">Mes aires</h3>
    {% include 'ApplisunAireJeuxBundle:Search:_listeAire.html.twig' with {'aires': user.aires} %}   
</div>
{%endblock%}
