{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <ul class="breadcrumb fil">
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li class="active">Mon compte</li> 
    </ul> 
<div class="fos_user_user_show">
    <h3 class="p-bottom">Informations personnelles</h3>
    <div class="row">
        <div class="col-xs-3">
            <img class="img-responsive" 
                     src="{% if user.filename %} 
                            {{ asset('uploads/avatars/100-'~user.filename) }} 
                          {% else %} 
                            {{ asset('bundles/applisunairejeux/images/avatardefaut.png') }} 
                          {% endif %}"/>
        </div>
        <div class="col-xs-9">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>    
    </div>
        <div class="row text-center">
            <a class="btn btn-blue" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
            <a class="btn btn-blue" href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a>
        </div>
</div>
<div>
    <h3 class="p-bottom">Mes aires</h3>
    {% include 'ApplisunAireJeuxBundle:Search:_listeAire.html.twig' with {'aires': user.aires, 'data': null} %}   
</div>
{%endblock%}
