{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title %}
     Aire de jeux : {{departement.nom }}
{% endblock %}
{% block meta %}
    <meta name="description" content="Aire de jeux {{departement.nom }}"> 
{% endblock %}    
{% block content %}
    {{ breadcrumb(departement) }}
        {% for ville in villes %}
            <div class="row nomargin p-bottom">
                <div class="col-xs-10 nopadding">
                    <a class="city" href="{{ path('ville_show', {'slug': ville.slug, 'id': ville.id, 'page': 1 }) }}">{{ ville.nom }}</a>
                    <i class="code"> {{ ville.code }}</i>
                </div>
                <div class="col-xs-2 nopadding">
                    <span class="nbrAire"> {{ ville.aires|length}} aires </span>
                </div>    
            </div>
        {% else %}
            <h4>Aucune aire référencée dans ce département</h4>
        {% endfor %}        
    {% if villes|length > searchmaxperpage %}    
        {% include 'ApplisunAireJeuxBundle:Default:pagination.html.twig' %}
    {% endif %}    
{% endblock %}
