{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title %}
     Contact
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}  
{% block content %}
    <ul class="breadcrumb fil">
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li class="active">Contact</li> 
    </ul>
    <h3 class="p-bottom">Contactez-nous </h3> 
    <div class="row nomargin">
        <form  id="form-contact" class="form-horizontal" action="{{ path('contact') }}" method="get">
            <div class="nomargin">
                {{ form_errors(form.nom) }}
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="nomargin">
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr':{'class':'form-control completion'}}) }}
            </div>
            <div class="nomargin">
                {{ form_errors(form.message) }}
                {{ form_label(form.message) }}
                {{ form_widget(form.message, {'attr':{'class':'form-control'}}) }}
            </div>
            {{ form_rest(form) }}
            <input class="btn btn-lg btn-blue center-block" type="submit" value="Envoyer" />
        </form>
    </div>        
    {% endblock %}  
