{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title 'Accueil AireJeux' %}
    {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %} 

    {% block content %}

        <div class="row">
            <section class="col-xs-12 col-lg-8">
                <h4>Rechercher une ville : </h4>
                <form action={{ path('ville_search') }} method="get" class="navbar-form navbar-right inline-form">
                      <div class="form-group">
                          <div class="inner-addon right-addon">
                              <i class="glyphicon glyphicon-search"></i>
                              <input type="search" class="input-sm form-control" placeholder="Rechercher une ville" name="query" value='{{ app.request.get('query') }}' id="applisun_aire_form_ville" />
                              <input type="submit" value="rechercher" />
                          </div>    
                      </div>
                </form>
                          <p>CARTE DE FRANCE</p>
            </section>
            <aside class="col-lg-4 visible-lg">
                <div>
                    Les derniéres aires
                    {{ render_esi(controller('ApplisunAireJeuxBundle:Aire:newest')) }}
                </div>
                <div>
                    Top 5
                    {{ render_esi(controller('ApplisunAireJeuxBundle:Aire:top')) }}
                </div>
                <div>
                    Les plus commentées
                    {{ render_esi(controller('ApplisunAireJeuxBundle:Aire:moreCommented')) }}
                </div>    
            </aside>
        </div>
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/applisunairejeux/js/autocompletion.js') }}" type="text/javascript"></script>
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/fr/fr-all-all.js"></script>
{% endblock %}
