{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title 'Accueil AireJeux' %}
    {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %} 

    {% block content %}
        <div class="row">
                <form id="form-city" class="col-lg-12" action={{ path('ville_search') }} method="get" class="navbar-form navbar-right inline-form">
                      <div class="form-group nomargin">
                          <div class="inner-addon right-addon">
                              <i class="glyphicon glyphicon-search"></i>
                              <input type="search" class="input-md form-control" placeholder="Rechercher une ville" name="query" value='{{ app.request.get('query') }}' id="applisun_aire_form_ville" />
                              <!--<input class="input-md" type="submit" value="rechercher" />-->
                          </div>    
                      </div>
                </form>
        </div>                      
        <div class="row">                      
                <div class="col-lg-12" id="map"><img src="{{ asset('bundles/applisunairejeux/images/spinner.gif') }}" /> </div>
        </div>  
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/applisunairejeux/js/autocompletion.js') }}" type="text/javascript"></script>
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/fr/fr-all-all.js"></script>
    <script type="text/javascript">
        {{ chart(carte) }}
                          </script>  
{% endblock %}
