{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <ul class="breadcrumb fil">
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li class="active">Inscription</li> 
    </ul> 
    <div class="row">
        <div class="col-lg-offset-2 col-lg-7 text-center">      
            <form class="form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
                <div class="form-group">
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, {'attr':{'placeholder':'Login:', 'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr':{'placeholder':'Email:', 'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'Mot de passe:', 'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Confirmer mot de passe:', 'class':'form-control'}}) }}
                </div>
                {{ form_row(form._token) }}
                <div class="form-group">
                    <input class="btn btn-blue center-block" type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>                
{%endblock%}
