<div class="row no-margin">
    {% for aire in aires %}
        {%if (data.latitude and not(data.latitude == aire.latitude)) or not(data.latitude) %}
            {%if loop.index <= 6 %}
                <div class="row bottom-10 {% if not loop.last %}p-bottom {% endif %} no-margin">
                    <div class="col-lg-3  col-md-12 visible-lg nopadding">
                        <img src="{% if aire.filename %} 
                             {{ asset('uploads/aires/100-'~aire.filename) }} 
                        {% else %} 
                            {{ asset('bundles/applisunairejeux/images/thumbnail_defaut.png') }} 
                        {% endif %}" />
                </div> 
                <div class="col-lg-9 col-md-12">
                    <div class="row playground-body">
                        <div class="col-md-12">
                            <a class="playground-link" href="{{ path('aire_show', {'id': aire.id, 'slug': slugify(aire.nom) }) }}">{{ aire.nom | truncate(24, false, '...') }}</a>
                        </div>
                    </div>    
                    <div class="row">    
                        <div class="col-md-9">
                            <a class="city-link" href="{{ path('ville_show', {'slug': aire.ville.slug, 'id': aire.ville.id, 'page': 1 }) }}" >{{ aire.ville.nom | truncate(15, false, '...') }}</a>
                            <br>
                            {%if (data.latitude) %}
                                <span class="distanceKM">
                                    {% if aire.distance < 1 %}
                                        {{aire.distance |number_format(2, '.', ',') *100 }} mètres
                                    {% else %}    
                                        {{aire.distance |number_format(2, '.', ',') }} Km
                                    {% endif %}
                                </span>
                            {% endif %} 
                        </div>
                        <div class="col-md-3"> 
                            <div class="average">{{ aire.average |number_format(1, '.', ',') }}</div>                            
                        </div>
                    </div>

                </div>
            </div> 
        {% endif %}
            {% endif %}                
    {% endfor %}
</div>            

