<div class="row no-margin">        
    {% for aire in aires %}
        <div class="row bottom-10 {% if not loop.last %}p-bottom {% endif %} no-margin">
            <div class="col-md-3">
                <img src="{% if aire.filename %} 
                     {{ asset('uploads/aires/100-'~aire.filename) }} 
                {% else %} 
                    {{ asset('bundles/applisunairejeux/images/thumbnail_defaut.png') }} 
                    {% endif %}" />
                </div> 
                <div class="col-md-9">
                    <div class="row playground-body">
                        <div class="col-md-12">
                            <a class="playground-link" href="{{ path('aire_show', {'id': aire.id }) }}">{{ aire.nom | truncate(16, true, '...') }}</a>
                        </div>
                    </div>    
                    <div class="row">    
                        <div class="col-md-9">
                            <a class="city-link" href="{{ path('ville_show', {'slug': aire.ville.slug, 'id': aire.ville.id, 'page': 1 }) }}" >{{ aire.ville.nom | truncate(15, true, '...') }}</a> 
                        </div>
                        <div class="col-md-3"> 
                            <div class="average">{{ aire.displayedAverage }}</div> 
                        </div>
                    </div>    
                </div>
            </div>       
    {% endfor %}
</div>            

