<div class="row no-margin">        
    {% for aire in aires %}
        <div class="row bottom-10 no-margin">
            <div class="col-lg-3">
                <img src="{% if aire.filename %} 
                     {{ asset('uploads/aires/100-'~aire.filename) }} 
                {% else %} 
                    {{ asset('bundles/applisunairejeux/images/thumbnail_defaut.png') }} 
                    {% endif %}" />
                </div> 
                <div class="col-lg-9">
                    <div class="row no-margin">
                        <div class="col-lg-12">
                            <a href="{{ path('aire_show', {'id': aire.id }) }}">{{ aire.nom }}</a>
                        </div>
                        <div class="col-lg-12">
                            <a href="{{ path('ville_show', {'slug': aire.ville.slug, 'id': aire.ville.id, 'page': 1 }) }}" >{{ aire.ville.nom }}</a> {{ aire.displayedAverage }}/5 
                        </div>
                        <div class="col-lg-12">
                            <i>({{ aire.comments | length }} commentaires)</i>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>            

