{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title %}
    Modifier l'aire de jeux {{ aire.nom }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}    

{% block content %}
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and is_granted('USER_CAN_AIRE_MODIFY', aire)) %}
        
        <div class="row nomargin">
            <form id="form-playground" class="form-horizontal" action="{{ path('aire_edit', {'id': aire.id}) }}" method="post" enctype="multipart/form-data">
                <h3 class="p-bottom">Informations générales: </h3> 
            <div class="nomargin">
                {{ form_errors(form.nom) }}
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr':{'placeholder':'Nom:', 'class':'form-control'}}) }}
            </div>
            <div class="nomargin">
                {{ form_errors(form.ville) }}
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville, {'attr':{'class':'form-control'}}) }}
            </div>
            <h3 class="p-bottom">Caractéristiques: </h3> 
            <div class="row">
                <div class="col-sm-4">
                    {{ form_errors(form.surface) }}
                    {{ form_label(form.surface) }}
                    {{ form_widget(form.surface, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.latitude) }}
                    {{ form_label(form.latitude) }}
                    {{ form_widget(form.latitude, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.longitude) }}
                    {{ form_label(form.longitude) }}
                    {{ form_widget(form.longitude, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_errors(form.ageMin) }}
                    {{ form_label(form.ageMin) }}
                    {{ form_widget(form.ageMin, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.ageMax) }}
                    {{ form_label(form.ageMax) }}
                    {{ form_widget(form.ageMax, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.nbrJeux) }}
                    {{ form_label(form.nbrJeux) }}
                    {{ form_widget(form.nbrJeux, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_errors(form.is_picnic) }}
                    {{ form_label(form.is_picnic) }}
                    {{ form_widget(form.is_picnic, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.is_sport) }}
                    {{ form_label(form.is_sport) }}
                    {{ form_widget(form.is_sport, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_errors(form.is_shadow) }}
                    {{ form_label(form.is_shadow) }}
                    {{ form_widget(form.is_shadow, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <h3 class="p-bottom">Informations complémentaires: </h3>     
            {{ form_widget(form.description) }}
            <h3 class="p-bottom">Image: </h3>
            <div class="row nomargin text-center">
                {{ form_widget(form.image) }}
            </div>    

            {{ form_rest(form) }}
            <input class="btn btn-lg btn-primary center-block" type="submit" value="Modifier" />
            </form>
        </div>    
    {% else %}
        <div class="alert alert-warning">
            Vous n'êtes pas le créateur de cette aire de jeux    
        </div>    
    {% endif %}    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/applisunairejeux/js/autocompletion.js') }}" type="text/javascript"></script>
{% endblock %}
