{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title %}
    Modifier l'aire de jeux {{ aire.nom }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}    

{% block content %}
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and is_granted('USER_CAN_AIRE_MODIFY', aire)) %}
        <form action="{{ path('aire_edit', {'id': aire.id}) }}" method="post" enctype="multipart/form-data">
            {{ form_errors(form) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.ville) }}
            {{ form_row(form.description) }}
            {{ form_row(form.surface) }}
            {{ form_row(form.longitude) }}
            {{ form_row(form.latitude) }}
            {{ form_row(form.ageMax) }}
            {{ form_row(form.ageMin) }}
            {{ form_row(form.nbrJeux) }}
            {{ form_row(form.image) }}

            {{ form_rest(form) }}
            <input type="submit" value="Modifier" />
        </form>
    {% else %}
        <div class="alert alert-warning">
            Vous n'êtes pas le créateur de cette aire de jeux    
        </div>    
    {% endif %}    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/applisunairejeux/js/autocompletion.js') }}" type="text/javascript"></script>
{% endblock %}
