{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block content %}
    {{ breadcrumb(aire) }}
    <div class="row">
        <div class="col-sm-4">
            <h2>{{ aire.nom }}</h2>
            <p>
                <img class="img-responsive img-small" src="{{ asset('uploads/aires/'~aire.filename) }}"/>
                <span class="score orange displayOnly">
                    {{ displayAverage(aire.average) }}
                    
                    <i>({{ aire.votes | length }} votes) {{ aire.comments|length }} commentaires</i>
                </span>
            </p>
        </div>    
        <div class="col-sm-3">    
            <p>
                Ville: {{ aire.ville.nom }}
            </p>    
            <p>
                Surface: {{ aire.displayedSurface }}
            </p>
            <p>
                Age minimum: {{ aire.ageMin }}
            </p>  
            <p>
                Age maximum: {{ aire.ageMax }}
            </p>  
            <hr />
            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and is_granted('USER_CAN_AIRE_MODIFY', aire)) %}
                <a class="btn btn-xs btn-warning" href="{{ path('aire_edit', {'id': aire.id}) }}">Modifier</a>
                <a class="btn btn-xs btn-danger" href="{{ path('aire_delete', {'id': aire.id}) }}">Supprimer</a>
            {% endif %}
        </div>
        <div id="map-canvas" class="col-sm-5">
            <img src="{{ asset('bundles/applisunairejeux/images/spinner.gif') }}" />            
        </div>
    </div>
    <p>
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('USER_CAN_VOTE', aire) %}
                {% include 'ApplisunAireJeuxBundle:Form:_voteForm.html.twig' with {'form': formVote} %}               
            {% else %}
            <div class="alert alert-block">Vous avez déjà voté.</div>
        {% endif %}
    {% else %}
        <div class="alert alert-block">Vous devez être connecté pour voter.</div>
    {% endif %}
</p>
<p>
    {% if is_granted('ROLE_USER') %}
        {% if is_granted('USER_CAN_COMMENT', aire) %}
            {% include 'ApplisunAireJeuxBundle:Form:_commentForm.html.twig' with {'form': formComment} %}               
        {% else %}
        <div class="alert alert-block">Vous avez déjà commenté sur cette aire.</div>
    {% endif %}
{% else %}
    <div class="alert alert-block">Vous devez être connecté pour commenter.</div>
{% endif %}
</p>
<h2>Vos commentaires</h2>
{{ render(controller('ApplisunAireJeuxBundle:Comment:show', {'aire_id': aire.id, 'page': 1})) }}

{% if aire.comments|length != 0 %}
    <button id="more_comment"class="btn btn-block btn-success">
        <span class="glyphicon glyphicon-plus-sign"></span> Plus de commentaire
    </button> 
{% endif %}    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemapkey }}"></script>
    <script>
                var page_num = 2;
                var nb_comment = {{ aire.comments|length }};
                jQuery(document).ready(function () {
        $('#more_comment').on('click', function(evt){
        evt.preventDefault();
                $('#more_comment').html('<img src="{{ asset('bundles/applisunairejeux/images/ui-anim_basic_16x16.gif') }}" />');
                $.ajax({
                url: Routing.generate('comment_show', { aire_id:{{ aire.id }}, page: page_num }),
                        dataType: "html",
                        success: function (response, statut) {
                        page_num++;
                                $('#more_comment').html('<span class="glyphicon glyphicon-plus-sign"></span> Plus de commentaire');
                                if ((nb_comment / page_num) < 5){
                        $('#more_comment').addClass('hide');
                        }
                        $('#plus').append(response);
                        },
                        error: function (){
                        $('#plus').append('erreur');
                        }
                });
        });
        });

        {{ googlemaps(pos) }}
    </script>
{% endblock %}    
