{% for comment in comments %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <img class="img-responsive" 
                     src="{% if comment.user.filename %} 
                            {{ asset('uploads/avatars/100-'~comment.user.filename) }} 
                          {% else %} 
                            {{ asset('bundles/applisunairejeux/images/avatardefaut.png') }} 
                          {% endif %}"/>
            {{ comment.user.username }} 
            {% if comment.updatedat is null %} 
                ajouté le {{ comment.createdat|date('d-m-Y') }} 
            {% else %} 
                modifié le {{ comment.updatedat|date('d-m-Y') }} 
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and is_granted('USER_CAN_COMMENT_MODIFY', comment)) %}
                <div class="btn-toolbar fright">
                    <div class="btn-group">
                        <a data-toggle="modal" data-tooltip="Editer" data-placement="bottom" class="btn btn-xs btn-warning" href="{{ path('comment_edit', { 'id': comment.id }) }}">Modifier</a>
                        <a data-tooltip="Supprimer" data-placement="bottom" class="btn btn-xs btn-danger" href="{{ path('comment_delete', { 'id': comment.id }) }}" onclick="if (!confirm('Etes-vous sûr ?')) {
                                    return false;
                                }">Supprimer</a>                            
                    </div>
                </div>  
            {% endif %}
        </div>
        <div class="panel-body">
            <p>{{ comment.texte | nl2br }}</p>           
        </div>   
    </div>
{% else %}
    Aucun commentaire
{% endfor %}
{% if comments|length >5 %}
<div id="plus" class="moreComment"></div>
{% endif %}   
