{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title %}
     Aire de jeux : {{ville.nom }}
{% endblock %}
{% block meta %}
    <meta name="description" content="Aire de jeux à {{ville.nom }}"> 
{% endblock %}
{% block content %}
    {{ breadcrumb(ville) }}
    
    <h3 class="p-bottom">{{ aires|length }} aires référencées</h3>
    <div class="row playground-city-list">
        <div class="col-sm-6">
                {% for aire in aires %}
                    <div class="row nomargin p-bottom">
                        <div class="col-xs-10">
                            <a class="playground_link" href="{{ path('aire_show', {'id': aire.id, 'slug': slugify(aire.nom) }) }}">{{ aire.nom }}</a>
                        </div>
                        <div class="col-xs-2">
                            <div class="average"> {{ aire.displayedAverage }}</div> 
                        </div>    
                    </div>
                {% else %}
                    <p>Aucune aire référencée</p>
                {% endfor %}  
           </div>
            <div id="map-canvas" class="col-sm-5">
                <img src="{{ asset('bundles/applisunairejeux/images/ui-anim_basic_16x16.gif') }}" />  
            </div>
    </div>
     {% if aires|length > maxperpage %}
                {% include 'ApplisunAireJeuxBundle:Default:pagination.html.twig' %}
            {% endif %}
            <a href="{{path ('aire_new') }}" class="btn btn-block btn-blue"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une aire sur {{ ville.nom }}</a>
                    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemapkey }}"></script>
    <script>
        {{ googlemaps(pos) }}
    </script>
{% endblock %}    
