{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block title %}
     Aire de jeux : {{ville.nom }}
{% endblock %}
{% block meta %}
    <meta name="description" content="Aire de jeux à {{ville.nom }}"> 
{% endblock %}
{% block content %}
    {{ breadcrumb(ville) }}
    
    <h3 class="p-bottom">
        {% transchoice aires|length with {'%count%': aires|length} from "airejeux" %}
                                aire.ref.number
        {% endtranschoice %}
    </h3>
    <div class="row playground-city-list">
        <div class="col-sm-12">
                {% for aire in aires %}
                    <div class="row nomargin p-bottom">
                        <div class="col-xs-9">
                            <a class="playground_link" href="{{ path('aire_show', {'id': aire.id, 'slug': slugify(aire.nom) }) }}">{{ aire.nom }}</a>
                        </div>
                        <div class="col-xs-3">
                            <div class=" nbjeux text-center nopadding">
                                <span class="number_game">{{ aire.nbrJeux }}</span>
                            </div>
                            {%if aire.isPicnic %}
                                <img src="{{ asset('bundles/applisunairejeux/images/picnic_on.png') }}" alt="Aire de pique-nique" title="Aire de pique-nique" />
                            {%endif%}
                            {%if aire.isSport %}
                                <img src="{{ asset('bundles/applisunairejeux/images/sport_on.png') }}" alt="Equipements sportifs" title="Equipements sportifs" />
                            {%endif%}
                            {%if aire.isShadow %}
                                <img src="{{ asset('bundles/applisunairejeux/images/shadow_on.png') }}" alt="Ombre" title="Ombre" />
                            {%endif%}
                        </div>    
                    </div>
                {% else %}
                    <p>Aucune aire référencée</p>
                {% endfor %}  
           </div>
    </div>
     {% if aires|length > maxperpage %}
                {% include 'ApplisunAireJeuxBundle:Default:pagination.html.twig' %}
            {% endif %}
            <a href="{{path ('aire_new') }}" class="btn btn-block btn-blue"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une aire sur {{ ville.nom }}</a>
                    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemapkey }}"></script>
    <script>
        {{ googlemaps(pos) }}
    </script>
{% endblock %}    
