{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block content %}
    {{ breadcrumb(ville) }}
    <div class="row">
        <div class="col-sm-6">
            <ul>
                {% for aire in aires %}
                    <li>
                       <a href="{{ path('aire_show', {'id': aire.id }) }}">{{ aire.nom }}</a> {{ aire.displayedAverage }}/5 
                    </li>
                {% else %}
                    <p>Aucune aire référencée</p>
                {% endfor %}
                <a class="btn btn-default" href="{{path ('aire_new') }}">Ajouter une aire</a>
            </ul>
            {% if aires|length > 0 %}
                {% include 'ApplisunAireJeuxBundle:Default:pagination.html.twig' %}
            {% endif %}    
        </div>
    <div id="map-canvas" class="col-sm-6" style="min-height:400px;height:100%;  margin: 0; padding: 0;"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemapkey }}"></script>
    <script>
        {{ googlemaps(pos) }}
        
    {#function initialize() {
                var mapOptions = {
                  center: { lat: {{ ville.longitude }}, lng: {{ ville.latitude }} },
                  zoom: 11
                };
                var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
                
                 {% for aire in aires %}   
                    new google.maps.Marker({
                        position: new google.maps.LatLng({{ aire.latitude }}, {{ aire.longitude }}),
                        map: map,
                        title: '{{ aire.nom }}',
                        icon: 'https://maps.google.com/mapfiles/kml/shapes/schools_maps.png'
                      });
                  {% endfor %}
              }
              google.maps.event.addDomListener(window, 'load', initialize);#}
    </script>
{% endblock %}    
