{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block content %}
    {{ breadcrumb(ville) }}
    <div class="row">
        <div class="col-sm-6">
            <ul>
                {% for aire in aires %}
                    <li>
                       <a href="{{ path('aire_show', {'id': aire.id }) }}">{{ aire.nom }}</a> {{ aire.displayedAverage }}/5 
                    </li>
                {% else %}
                    <p>Aucune aire référencée</p>
                {% endfor %}                
            </ul>
            {% if aires|length > maxperpage %}
                {% include 'ApplisunAireJeuxBundle:Default:pagination.html.twig' %}
            {% endif %}
            <a href="{{path ('aire_new') }}" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une aire sur {{ ville.nom }}</a>
        </div>
    <div id="map-canvas" class="col-sm-6" style="min-height:400px;height:100%;  margin: 0; padding: 0;"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemapkey }}"></script>
    <script>
        {{ googlemaps(pos) }}
    </script>
{% endblock %}    
